
#hero-section {
    background-image: url(back.jpg);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h1, h2 {
    text-align: center;
    color: #333;
}
form {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
label {
    display: block;
    margin-top: 10px;
    color: #333;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
input[type="submit"] {
    background: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background: #555;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: papayawhip;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .install i{
    font-size: 15px;
    margin-top: 10px;
}

footer h4{
    font-size: 24px;
    padding-bottom: 20px;
}


footer p{
    font-size: 23px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 23px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    color: #e6107450;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #CA7C83;
}



