* {
    margin: 0;
    padding: 0;
}

#header {
    background:  black;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
    color: white;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a:active {
        color: red;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero-section {
    background-image: url(ear2.webp);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: picAnimate 10s ease-in 2 normal;
}
@keyframes picAnimate{
    from{
       background-image:url(ear2.webp) ;
    }
    tO{
       background-image: url(banner3.jpg);
    }
   }

#product {
    text-align: center;
    font-size: 30px;
}

#product1  {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 800;
    font-size: 20PX;

}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    margin-top: 30px ;
    margin-left: 15px;
}


#product1 .pro img {
   border-radius: 20px;
}

#product .pro .des h5 {
   padding-top: 7px;
   color: #1a1a1a;
   font-size: 14pxS;
}

#product1 .pro .des i {
   font-size: 12px;
   color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    position: absolute;
}

#product1 .pro button {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 3px;
    margin: 6px;
    border-radius: 20px;

}

#product1 .box{
    height: 15px;
    width: 15px;
    background-color: #CA7C83;
    border-radius: 50%;
}


#banner1 {
    margin-top: 10px;
    background-image: url(BANNER1.JPG);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#boat {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 800;
}

#banner2 {
    margin-top: 10px;
    background-image: url(banner2.JPG);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#Banner{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

#banner3 {
    margin-top: 10PX;
    background-image: url(banner3.JPG);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#Newclient{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #05235a;
    background-position: 20% 30%;
    height: 70px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

#Newclient h4{
    font-size: 22px;
    font-weight: 600;
    color: #cfff;
}

#Newclient p{
    font-size: 14px;
    font-weight: 600;
    color: #cdd4f8;
}

#Newclient p span{
    color: #d4eb0aa4;
}

#Newclient .form{
    display: flex;
}

#Newclient input{
    height: 2.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;
}

#Newclient button {
    background-color: rgb(5, 99, 5);
    color: white;
    white-space: nowrap;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .install i{
    font-size: 15px;
    margin-top: 10px;
}

footer h4{
    font-size: 24px;
    padding-bottom: 20px;
}


footer p{
    font-size: 23px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 23px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    color: #cdd4f8;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #CA7C83;
}








